[KDE Icon Theme]
Name=BGOS-Icons
Comment=Icons for dark KDE Gnome Lxqt Mate Dark Theme -qt4 qt5 gtk2 gtk3 theme
Inherits=hicolor
Example=folder
LockOverlay=lockoverlay
ShareOverlay=share
ZipOverlay=zip
DesktopDefault=48
DesktopSizes=16,22,32,48,64,128,256
ToolbarDefault=22
ToolbarSizes=16,22,32,48
MainToolbarDefault=22
MainToolbarSizes=16,22,32,48
SmallDefault=16
SmallSizes=16,22,32,48
PanelDefault=48
PanelSizes=16,22,32,48,64,128,256

Directories=scalable/actions,scalable/animations,scalable/apps,scalable/categories,scalable/devices,scalable/emblems,scalable/emotes,scalable/intl,scalable/mimetypes,scalable/places,scalable/status,scalable/preferences

[scalable/actions]
Size=128
Context=Actions
Type=Scalable
MinSize=22
MaxSize=48

[scalable/animations]
Size=128
Context=Animations
Type=Scalable
MinSize=22
MaxSize=128

[scalable/apps]
Size=128
Context=Applications
Type=Scalable
MinSize=22
MaxSize=64

[scalable/categories]
Size=128
Context=Categories
Type=Scalable
MinSize=22
MaxSize=64

[scalable/devices]
Size=128
Context=Devices
Type=Scalable
MinSize=22
MaxSize=64

[scalable/emblems]
Size=128
Context=Emblems
Type=Scalable
MinSize=22
MaxSize=64

[scalable/emotes]
Size=128
Context=Emotes
Type=Scalable
MinSize=22
MaxSize=64

[scalable/intl]
Size=128
Context=International
Type=Scalable
MinSize=22
MaxSize=64

[scalable/mimetypes]
Size=128
Context=MimeTypes
Type=Scalable
MinSize=22
MaxSize=128

[scalable/places]
Size=128
Context=Places
Type=Scalable
MinSize=22
MaxSize=128

[scalable/status]
Size=128
Context=Status
Type=Scalable
MinSize=22
MaxSize=48

[scalable/preferences]
Size=128
Context=Preferences
Type=Scalable
MinSize=22
MaxSize=48
